@import url(./base.css);

header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header h1 {
  text-align: center;
}
header form {
  margin: 0 auto;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav menu {
  display: flex;
  list-style: none;
  justify-content: center;
}
header menu a[href*="wishlist"] {
  margin-right: 1rem;
}

header menu a[href*="cart"] {
  margin-right: 1rem;
}

body nav {
  height: 2rem;
}

footer {
  height: 2rem;
  position: fixed;
  text-align: center;
  bottom: 0px;
  background-color: white;

  width: 100vw;
}
main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main";
    grid-template-rows: 5rem auto;
    grid-template-columns: 10rem auto;
  }
  header {
    grid-area: header;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  body nav {
    grid-area: nav;
    width: 10rem;
  }
  body > nav menu {
    display: block;
  }

  footer a {
    margin-left: 2rem;
  }
}
