html {
  font-family: sans-serif;
}

header {
  background-color: rgb(73, 166, 243);
  color: white;
  display: flex;
  justify-content: center;
}
h2 {
  color: rgb(73, 166, 243);
}

ul {
  list-style: circle;
}
li {
  margin-bottom: 1rem;
}
.importante {
  font-weight: bold;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: rgb(99, 204, 245);
}
tr:nth-child(odd) {
  background-color: rgb(192, 231, 247);
}
thead tr th {
  background-color: rgb(73, 166, 243);
  color: white;
  height: 2rem;
}

tbody tr th {
  background-color: rgba(47, 186, 241, 0.534);
}

#descanso {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

table {
  text-align: center;
  width: 50vw;
  height: 20vh;
}
